.content {
    margin: 2em 3em 0 3em;
}

.in-content {
    margin: 0em 3em;
}

.hidden {
    display: none;
}

.big {
    font-size: 1.5em;
}

.small {
    font-size: 0.75em;
}

.center {
    text-align: center;
}

.tab-container {
    padding-right: 3em;
    padding-left: 3em;
}

.emphasize {
    background-color: #4240ED;
    color: #FCF7FB;
}

.prim {
    background-color: #052168;
}

.min-w-200 {
    min-width: 200px;
}

.min-w-150 {
    min-width: 150px;
}

.box {
    box-sizing: border-box
}

.number {
    padding: 0
}

table {
    display: block;
}

.table-scroll {
    width: 1000px;
    overflow-x: auto;
}

@media screen and (max-width:1200px) {
    .table-scroll {
        width: 800px;
    }
}

@media screen and (max-width:1000px) {
    .table-scroll {
        width: 900px;
    }
}

@media screen and (max-width:800px) {
    .table-scroll {
        width: 600px;
    }
}

input[type="number"] {
    min-width: 100px;
}

.has-no-breakspace {
    white-space: nowrap;
}

.sm-description {
    margin: 0 !important;
    font-size: 0.8em;
}

.container-tree-map {
    height: 1500px;
}

.tooltip-tree-map {
    font-weight: 300;
}

.with-padding-bottom{
    padding-bottom: 10px !important;
}

.grid-text-with-title-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
}

.grid-title{
    font-weight: 700;
    font-size: 13px;
    padding-left: 20px;
    color: #4240ED;
}


.grid-text{
    font-size: 16px;
    font-weight: 300;
    padding-left: 28px;
    position: relative;
    color: #7F5DEF;
    top: -6px;
}

.grid-text-with-title-container > div > .grid-text {
    position: static;
    margin-bottom: 0.9em;
}

.has-sm-text {
    font-size: 12px;
}

.calendar-container {
    height: 200px;
}