.content {
    margin: 2em 3em 0 3em;
}

.hidden {
    display: none;
}

.big {
    font-size: 1.5em;
}

.small {
    font-size: 0.75em;
}

.center {
    text-align: center;
}

.tab-container {
    padding-right: 3em;
    padding-left: 3em;
}

.emphasize {
    background-color: #4240ED;
    color: #FCF7FB;
}

.prim {
    background-color: #052168;
}

.min-w-200 {
    min-width: 200px;
}

.min-w-150 {
    min-width: 150px;
}

.box {
    box-sizing: border-box
}

.number {
    padding: 0
}

table {
    display: block;
}

.table-scroll {
    width: 1000px;
    overflow-x: auto;
}

@media screen and (max-width:1200px) {
    .table-scroll {
        width: 800px;
    }
}

@media screen and (max-width:1000px) {
    .table-scroll {
        width: 900px;
    }
}

@media screen and (max-width:800px) {
    .table-scroll {
        width: 600px;
    }
}

input[type="number"] {
    min-width: 100px;
}