.content {
    margin: 2em 3em 0 3em;
}

.hidden {
    display: none;
}

.big {
    font-size: 1.5em;
}

.small {
    font-size: 0.75em;
}

.center {
    text-align: center;
}

.tab-container {
    padding-right: 3em;
    padding-left: 3em;
}

.emphasize {
    background-color: #4240ED;
}

.prim {
    background-color: #052168;
}

.min-w-200 {
    min-width: 200px;
}

.box {
    box-sizing: border-box
}